#contenedor {
    width: 90%; 
    max-width: 900px; 
    margin: 0 auto;
}
#publicidad{
    border-style: dashed;
    border-width: 1px;
    padding: 1px;
}
#noticias {
    border-style: solid;
    border-width: 1px;
    margin-bottom: 15px;
    margin-top: 8px;
    padding: .2em;
}
#pie{
    clear: both;
    border-style: solid;
    border-left: 0px;
    border-right: 0px;
    border-width: 1px;
    margin-top: 10px;

}
#secundario h2{
    
    padding: .2em;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 15px;
    margin-top: 8px;
}
#cabecera{ 
    clear: both; 
    
}
#menu { 
    clear: both; 
    border-style: solid;
    border-left: 0px;
    border-right: 0px;
    border-width: 1px;
    margin-top: 10px;
    padding: 7px;
}
#menuprincipal{
    
}
#pie .enlaces {
    float: left; 
    padding: 10px;
}
#pie .copyright {
    float: right; 
    padding: 10px;
}
#lateral { 
    float: left; width: 19%; 
}
#contenido { 
    float: right; width: 78%; 
}
#contenido #principal { 
    float: left; width: 74%;
}
#contenido #secundario { 
    float: right; width: 20%; 
}
#cabecera #logo { 
    float: left; 
}
#cabecera #buscador {
    float: right; 
    padding-top: 10px;
}
#menu ul#menu_principal li { 
    display: inline;
    float: left; 
}
#contenido #principal .articulo img { 
    width: 90px; 
    float: left; 
}

ul, ul li{
    margin: 0;
    padding: 0; 
    list-style: none; 
}
h1, h2, h3, p, form{
    margin: 0; 
    padding: 0; 
}
.clear{ 
    clear: both;
}
.articulo{
    margin: 1em;
}
img{
    padding: 30px;
}

